html {
  height: 100%;
  width: 100%;
}
.hi {
  color:504B38; 
  background-color: 8AB2A6; 
  text-align: center; 
  padding: 25px;
  font-size: 25px; 
}
.dau {
  display:inline-block ;
  height: 50%
}
.trinhdon {
  display: flex;
  background-color: FFEDFA; 
  padding: 25px;
 
}
.bee { 
  background-color: 8AB2A6;
  color: white;
  font-size: 25px;
  text-decoration: none;
  padding: 5px 15px;
}
 
.noidung {
  color: 504B38;
  height: 500px;
}
iframe{
 height: 100%;
  width: 100%;
  
}

